{% extends 'SATWeb/base.html' %}

{% load staticfiles %}

{% block head %}



{% endblock %}

{% block content %}
     <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-2">
                <h2></h2>
                <p>


                     </p>
                <p></div>
            <div class="col-md-8">
                <h2><strong>SAT Pty Ltd</strong></h2>
                <p><address>
  <br>
                Contact 1800 728 789<br>
                or Sales@satpty.com<br>
  PO Box 804<br>
  NSW 2107, AUSTRALIA<br>
  <abbr title="Phone">P:</abbr> 0447728789<br>
  <a href="mailto:#">enquiries@satpty.com</a>
</address><p><a class="btn btn-default" href="{% url 'new_order' %}" role="button">Submit an Enquiry &raquo;</a></p>
            </div>
            <div class="col-md-2">
                <h2></h2>
                <p><p></div>
        </div>


{% endblock %}
