{% extends 'SATWeb/base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'SATWeb/CSS/frontpage.css' %}" />



<style>.jumbotron {
    background-image: url("{% static 'SATWeb/img/tower.jpg'%}");
    background-size: cover;}</style>


{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1><font color="#1b75bc">SAT Pty Ltd</font></h1>
            <p>Radio Communications</p>
            <p>Engineering Specialists</p>
            <p><a class="btn btn-primary btn-lg" href="/services" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-3">
                <h2>Who we are</h2>
                <p>SAT Pty Ltd (‘SAT’) is a leading independent Australian owned and operated Radio Communications Consultancy.

                    Established in 1993, we have since developed our skills and resources extensively, enabling us to meet the needs of the market for high quality and responsive consultancy services.



                     </p>
                <p><a class="btn btn-default" href="/about" role="button">About us &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <br>
                <div class="hexrow">
  <div>
    <a href="{% url 'services' %}#menu4">
      <span class="link-spanner"> Project Management</span>
    </a>
    <div></div>
    <div></div>
  </div>
  <div>
    <a href="{% url 'services' %}#home">
      <span class="link-spanner">Design & Consultancy</span>
    </a>
    <div></div>
    <div></div>
  </div>
  <div>
    <a href="{% url 'services' %}#menu4">
        <span class="link-spanner">ACMA Licensing</span></a>
    </a>
    <div></div>
    <div></div>
  </div>
</div>
<div class="hexrow">
  <div>
    <a href="{% url 'services' %}#menu5">
      <span class="link-spanner">Installation Services</span></a>
    <div></div>
    <div></div>
  </div>
  <div>
    <span class="link-spanner">SAT Pty Ltd</span>
    <div></div>
    <div></div>
  </div>
  <div>
      <a href="{% url 'services' %}#menu4">
    <span class="link-spanner">Managed Services</span></a>
    <div></div>
    <div></div>
  </div>
</div>
<div class="hexrowL">
  <div>
    <span class="link-spanner">________________________</span>
    <div></div>
    <div></div>
  </div>
  <div>
      <a href="{% url 'services' %}#menu4">
    <span class="link-spanner">Planning & Strategy</span></a>
    <div></div>
    <div></div>
  </div>
</div>

            </div>
            <div class="col-md-3">
                <h2>Design and Provisioning</h2>
                <p>We provide all design and provisoning services for all IT and Telecommunication Services.</p>
                <p><a class="btn btn-default" href="{% url 'new_order' %}" role="button">Submit an Enquiry &raquo;</a></p>
            </div>
        </div>

        <hr>

        <footer>
            <p><img src={% static 'SATWeb/img/brandsmall.png'%}>&copy; SAT Pty Ltd 2016</p>
        </footer>
    </div> <!-- /container -->

{% endblock %}
