{% extends 'SATWeb/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}


{% block head %}

{% endblock %}


{% block content %}
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <form method="POST" class="Enquiry-form">{% csrf_token %}
        {% crispy form %}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
            </div>


{% endblock %}
