{% extends 'SATWeb/base.html' %}

{% load staticfiles %}

{% block head %}



{% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff.jpg'%} alt="staff"></div>
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff2.jpg'%} alt="staff"></div>
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff3.jpg'%} alt="staff"></div>
    </div>
    <div class="row">
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff4.jpg'%} alt="staff"></div>
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff5.jpg'%} alt="staff"></div>
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff6.jpg'%} alt="staff"></div>
    </div>
    <div class="row">
  <div class="col-sm-4"><img class="img-responsive" src={% static 'SATWeb/img/staff7.jpg'%} alt="staff"></div>
    </div>

        <!-- text -->
        <div class="row">
            <div class="col-md-2">
                <h2></h2>
                <p>


                     </p>
                <p></div>
            <div class="col-md-8">
                <h2>About Us</h2>
                <p>Specialising in a wide range of Information and Communication Technology (ICT) solutions, including Fixed, Mobile and Satellite Radio Systems, Corporate Networks, Wide Area Networks (WAN’s), Telco Services and Information Technology (IT) Platforms, SAT is able to assist clients with a range of specific project elements through to full turnkey solutions.

Our list of satisfied clients is extensive, including a number of Australian Telcos, Multinational Companies, Utilities, Mining Companies, Banks, Internet Service Providers (ISP's), Airlines and Air Navigation Service Providers (ANSP's), Federal and State Government bodies, Councils, Equipment manufacturers and Integrators.

We have a proven track record for successfully completing projects, however big or small, ON TIME, ON BUDGET & with a QUALITY our customers demand. With a combination of youth and experience and a CAN DO attitude, SAT’s “nothing too tough” approach is highly valued by our loyal customer base.</p>

<h2>What distinguishes the SAT Team from the rest?</h2>
                <p>

A young and highly motivated team with expertise in leading-edge technology, backed up by extensive experience with traditional radio design and equipment.

A high degree of flexibility, enabling optimization of project personnel and an ability to quickly engage with customers to commence new projects

Not constrained by the top-heavy structure and unnecessary processes of larger organisations. Hence SAT is able to provide a faster turnaround than most.

A strong client base, centred around the Utility and Large Industrial/Enterprise market
Impartiality to equipment vendors and suppliers.

A “No design too tough” approach, backed up by our successful implementation of networks in extremely remote areas without power or roads.</p>
<p><a class="btn btn-default" href="{% url 'new_order' %}" role="button">Submit an Enquiry &raquo;</a></p>
            </div>
            <div class="col-md-2">
                <h2></h2>
                <p><p></div>
        </div>


{% endblock %}
