{% extends 'SATWeb/base.html' %}

{% load staticfiles %}

{% block head %}



{% endblock %}

{% block content %}

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-2">
                <h2></h2>
                <p>


                     </p>
                <p></div>
            <div class="col-md-8">

            <br>
            <br>
            <br>
            <br>

                <table border="0" name="" width="100%" cellpadding="5" cellspacing="0">
<tr align="" valign="">
<td colspan="1" rowspan="1" width="33%" align="" valign="top"><div><b>Federal, State &amp; Local Government</b>&nbsp;</div><div><br></div><div><div>DEEWR</div><div>NSW Department of Commerce</div><div>South Australian Government</div><div>Shoalhaven City Council</div><div>Moreton Bay City Council</div><div>Gold Coast City Council</div><div>Sunshine Coast Council</div></div><div><br></div><div><b>Universities</b></div><div><br></div><div><div>Deakin University <span class="Apple-tab-span" style="white-space:pre">   </span>Griffith University&nbsp;</div><div>Monash University <span class="Apple-tab-span" style="white-space:pre">  </span>University of Perth</div><div>UTS</div></div><div><br></div><div><div><b>Telcos/Carriers/ISPs</b></div><div><b><br></b></div><div><b><span class="Apple-style-span" style="font-weight: normal; "><div>Telstra<span class="Apple-tab-span" style="white-space:pre">          </span>&nbsp;<span class="Apple-tab-span" style="white-space: pre; ">   </span>Optus&nbsp;</div><div>Vodafone<span class="Apple-tab-span" style="white-space:pre">      </span>&nbsp;<span class="Apple-tab-span" style="white-space: pre; ">   </span>Ciphertel</div></span></b></div><div>
</div></div><br>
</td><td colspan="1" rowspan="1" width="34%" align="" valign="top"><div><b>Utilities, Oil, Gas &amp; Mining</b></div><div><br></div><div><div>Sydney Water <span class="Apple-tab-span" style="white-space:pre">                    </span>Unity Water</div><div>Connex Water<span class="Apple-tab-span" style="white-space:pre">                  </span>State Water</div><div>Sydney Catchment Authority<span class="Apple-tab-span" style="white-space:pre">        </span>SP AusNet</div><div>Pacific Power <span class="Apple-tab-span" style="white-space:pre">                  </span>Transgrid &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</div><div>ACTEW <span class="Apple-tab-span" style="white-space:pre">                            </span>SMEC</div><div>Integral Energy<span class="Apple-tab-span" style="white-space:pre">                  </span>Powerlink</div><div>iPower<span class="Apple-tab-span" style="white-space:pre">                          </span>Conneq</div><div>Jemena<span class="Apple-tab-span" style="white-space:pre">                         </span>UXC<span class="Apple-tab-span" style="white-space:pre"> </span></div><div>Leighton Construction<span class="Apple-tab-span" style="white-space:pre">            </span>Serck&nbsp;</div><div>Radtel<span class="Apple-tab-span" style="white-space:pre">                            </span>PPM</div><div>Finiscule Metals Group<span class="Apple-tab-span" style="white-space:pre">            </span>Leighton Holdings&nbsp;</div><div>BHP&nbsp;</div><div><br></div></div><div><br></div><br>
</td><td colspan="1" rowspan="1" width="33%" align="" valign="top"><div><b>Banking &amp; Corporate</b></div><div><br></div><div><div>Westpac Bank<span class="Apple-tab-span" style="white-space:pre">          </span>St George Bank&nbsp;</div><div>CSC <span class="Apple-tab-span" style="white-space:pre">                 </span>Elders Australia&nbsp;<span class="Apple-tab-span" style="white-space:pre">          </span></div><div><span class="Apple-tab-span" style="white-space:pre"></span>Broadcast Australia<span class="Apple-tab-span" style="white-space:pre">      </span>Micropay</div><div>ING<span class="Apple-tab-span" style="white-space:pre">                      </span>QBE</div></div><div><b><br></b></div><div><b>International/Multinational</b></div><div><br></div><div><div>Eurocontrol<span class="Apple-tab-span" style="white-space:pre">              </span>Agip&nbsp;</div><div>British Gas <span class="Apple-tab-span" style="white-space:pre">               </span>BGE (Russia)</div><div>IATA &nbsp;<span class="Apple-tab-span" style="white-space:pre">                  </span>Airways (NZ)</div><div>Ofcom (UK)<span class="Apple-tab-span" style="white-space:pre">               </span>SITA</div><div>British Telecom<span class="Apple-tab-span" style="white-space:pre">  </span></div></div><div><span class="Apple-tab-span" style="white-space:pre"><br></span></div><div><span class="Apple-tab-span" style="white-space:pre"><b>E</b></span><b>quipment Vendors</b></div><div><br></div><div><div>Motorola</div><div>Hitachi Data Systems</div></div><div><br></div><div><br></div><br>
</td>
</tr>
</table>
            </div>
            <div class="col-md-2">
                <h2></h2>
                <p><p></div>
        </div>


{% endblock %}
